@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    background-color: #a40909;
}

header {
    max-height: 121px;
    height: 300px;
    padding: 11px 0;
    display: flex;
    align-items: center;
    background-color: #ed6c0e;
}

header img {
    margin-left: 90px;
    width: 150px;
}

h1 {
    margin-bottom: -6px;
    font-family: "Archivo Black", sans-serif;
    font-size: 45px;
    text-shadow: 5px 5px 0px #F3982C;
}

h2 {
    font-size: 31px;
    font-style: italic;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
}

header div {
    margin-left: 40px;
}

nav {
    margin-left: auto;
    margin-right: 109px;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    gap: 49px;
}

a {
    text-decoration: none;
    padding: 18px 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #05632d;
    border: 3px solid black;
    border-radius: 24px;
    color: white;
}

#cart {
    padding: 0;
    width: 120px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#cart img {
    width: 40px;
    height: auto;
    display: block;
    margin: 0;
    filter: brightness(0) invert(1);
}

a img {
    width: 40px;
}

a:hover{
    background-color: #078a3e;
    transform: scale(1.05);
    transition: 0.2s;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

main img {
    margin: 0 108px;
    width: 400px;
}

main section {
    margin: 0;
    width: 800px;
    height: 900px;
    background: #d9d9d9;
}

.container {
    display: flex;
    padding: 0 0;
    width: 600px;
    height: 700px;
    background: #fffce9;
    border-radius: 50px;
    border: 5px solid black;
}

form {
    align-items: center;
}

footer {
    padding: 20px 0;
    display: flex;
    background-color: #ed6c0e;
}

input {
    text-align: center;
}

footer p {
    font-size: 17px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.25px;
}