@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-family: "Figtree", sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #a40909;
}

header {
    max-height: 121px;
    height: 300px;
    padding: 11px 0;
    display: flex;
    align-items: center;
    background-color: #ed6c0e;
}

header img {
    margin-left: 90px;
    width: 150px;
}

h1 {
    margin-bottom: -6px;
    font-family: "Archivo Black", sans-serif;
    font-size: 45px;
    line-height: normal;
    text-shadow: 5px 5px 0px #F3982C;
}

h2 {
    font-size: 31px;
    font-style: italic;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: #000000;
}

header div {
    margin-left: 40px;
}

nav {
    margin-left: auto;
    margin-right: 109px;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    gap: 49px;
}

header a {
    text-decoration: none;
    padding: 15px 40px;
    font-family: "Figtree", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #05632d;
    border: 3px solid #000000;
    border-radius: 24px;
    color: #FFFFFF;
}

#cart {
    padding: 0;
    width: 120px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#cart img {
    width: 40px;
    height: auto;
    display: block;
    margin: 0;
    filter: brightness(0) invert(1);
}

header a img {
    width: 40px;
}

header a:hover {
    background-color: #078a3e;
    transform: scale(1.05);
    transition: 0.2s;
}

header a:focus {
    background-color: #078a3e;
    transform: scale(1.05);
    transition: 0.2s;
}


main {
    padding: 20px 0;
}

.container {
    background-color: #fffce9;
    border: 3px solid #000000;
    border-radius: 50px;
    padding: 40px;
    margin: 0 auto;
    max-width: 1700px;
    color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 60px;
}

.pizza-grid {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.pizza-grid img {
    width: 320px;
    height: auto;
}

.detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.texto-esquerdo {
    display: flex;
    flex-direction: column;
    max-width: 360px;
}

.texto-esquerdo h4 {
    font-size: 35px;
    font-weight: bold;
    color: #a40909;
    margin-bottom: 5px;
}

.texto-esquerdo p {
    font-size: 27px;
    color: #333333;
}

.valores {
    display: flex;
    gap: 15px;
}

.coluna-preco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.coluna-preco .tamanho {
    font-size: 27px;
}

.coluna-preco .preco {
    font-size: 27px;
    font-weight: bold;
    white-space: nowrap;
}

.btn-add {
    width: 50px;
    height: 50px;
    border: 3px solid #000000;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #e2e2e2;
    transform: scale(1.1);
    transition: 0.2s;
}

footer {
    padding: 9.5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ed6c0e;
}

footer span {
    font-size: 16.5px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.15px;
}

footer p {
    font-size: 14px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.125px;
}